name: CI

on:
    pull_request:
    push:
        branches:
            - main

env:
    CARGO_TERM_COLOR: always

# ensure that the workflow is only triggered once per PR, subsequent pushes to the PR will cancel
# and restart the workflow. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    fmt:
        name: fmt
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt
            - name: check formatting
              run: cargo fmt -- --check
            - name: Cache Cargo dependencies
              uses: Swatinem/rust-cache@v2

    clippy:
        name: clippy
        runs-on: ubuntu-latest
        permissions:
            checks: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: clippy
            - name: Run clippy action
              uses: clechasseur/rs-clippy-check@v5
            - name: Cache Cargo dependencies
              uses: Swatinem/rust-cache@v2

    test:
        name: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
            - name: Cache Cargo dependencies
              uses: Swatinem/rust-cache@v2
            - name: Install cargo-nextest
              uses: taiki-e/install-action@nextest
            - name: Install cargo-insta
              run: cargo install cargo-insta
            - name: Check for unreferenced snapshots
              run: cargo insta test --all-features --unreferenced=reject --check
            - name: Run tests
              run: cargo t --all-features

    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
            - name: Build
              run: cargo build --release
            - name: Cache Cargo dependencies
              uses: Swatinem/rust-cache@v2

    validate-crate:
        name: validate-crate
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
            - name: Cache Cargo dependencies
              uses: Swatinem/rust-cache@v2
            - name: Validate crate package
              run: cargo package --list --allow-dirty
            - name: Validate publish readiness
              run: cargo publish --dry-run --allow-dirty
